window {
        background-color:transparent;
}
#outer-box {
	margin: 2px;
}
#inner-box {
	margin-left: 10px;
	background-color:rgba(32, 32, 32, 0.9); 
	border-radius: 10px;
	border:solid 2px rgb(23, 89, 105);
	padding: 5px;
	margin: 5px
}
button, image {
	background: none;
	border: none;
	box-shadow: none;
	color: #00e0f9;

}
button {
	color:azure;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;	
}
button:hover {
	background-color: rgba (255, 255, 255, 0.1)
}
